<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DotInputServlet</servlet-name>
        <servlet-class>com.segvek.inmovie.EntryPointServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.segvek.inmovie.admin.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autorization</servlet-name>
        <servlet-class>com.segvek.inmovie.Autorization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUsers</servlet-name>
        <servlet-class>com.segvek.inmovie.admin.ListUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFilms</servlet-name>
        <servlet-class>com.segvek.inmovie.admin.ListFilms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFilm</servlet-name>
        <servlet-class>com.segvek.inmovie.admin.EditFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFilm</servlet-name>
        <servlet-class>com.segvek.inmovie.admin.AddFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>News</servlet-name>
        <servlet-class>com.segvek.inmovie.admin.ListNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNews</servlet-name>
        <servlet-class>com.segvek.inmovie.admin.EditNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Affiche</servlet-name>
        <servlet-class>com.segvek.inmovie.Affiche</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DotInputServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.otf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autorization</servlet-name>
        <url-pattern>/Autorization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsers</servlet-name>
        <url-pattern>/ListUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFilms</servlet-name>
        <url-pattern>/ListFilms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFilm</servlet-name>
        <url-pattern>/EditFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFilm</servlet-name>
        <url-pattern>/AddFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/News</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNews</servlet-name>
        <url-pattern>/EditNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Affiche</servlet-name>
        <url-pattern>/Affiche</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
