body{
    width: 70%;	
    padding: 0;
    margin: 0;
    margin-left: 15%;
    background-image:url(../images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@font-face{
    font-family: 'KomikaAxis';
    src: url(../fonts/9777.ttf);		
}
@font-face{
    font-family: 'Mart AWX';
    src: url(../fonts/9762.ttf);
}
@font-face{
    font-family: 'Anima Ace';
    src: url(../fonts/9421.ttf);
}
@font-face{
    font-family: 'P22 Underground CY Pro';
    src: url(../fonts/9761.otf);
}
@font-face{
    font-family: 'Rotonda Bold';
    src: url(../fonts/9756.ttf);
}
a{	
    text-decoration: none;
}
.header{
    width: 100%;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.8);
    border: 1px solid black;
    border-radius: 0 0 15% 15%;
    border: 2px solid #000;
}
.headmain{
    padding-left: 2%;
    float:left;
    width: 50%;
}
.main{
    float: left;	
    font-family: 'KomikaAxis';
    font-size: 25px;
}
.main a{
    color: #fff;
}
ul{
    list-style: none;	
    padding: 0;
    margin: 0;
}
.menu{
    float: right;	
    height: 50%;
    margin-right: 10%;
}
.menu li{	
    float: left;
    color: white;
    display: inline-block;
}
.menu a{
    color: white;
    display: inline-block;
    height: 50%;
    line-height: 50px;
    padding: 0 15px;
    font-family: 'Mart AWX';
}
.menu a:hover{
    background-color: white;
    color: black;
}
.headbut{
    margin-right: 3%;

}
.login{
    float: right;
    width: 15%;
    margin-left: 2%;
    position: relative;
    top: 5px;	
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 7px 15px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'P22 Underground CY Pro';
}
.login:hover{
    background-color: #DCDCDC;
    color: #000;
}
.logfield{
    font-size: 17px;
    color: #fff;
    font-family: 'P22 Underground CY Pro';
    position: relative;
    top: 0;
}
.logfield a{
    color: #fff;
}
.search{
    border:1px solid #2a2e31;
    background-color:#2d3035;
    color: white;
    padding:6px 15px 6px 30px;
    margin:3px; 
    background: url(../images/search.png) no-repeat;
    position:relative;
    top: 5px;
    margin-left: 5%;
    float: left;
}
.content{
    margin-top: 3%;
    width: 100%;
}
.fblock{
    width: 100%;
    min-height: 540px;
    background-color: rgba(0, 0, 0, 0.9);	
    border: 1px solid #fff;
    display:inline-block;
}
.fblock a{
    color: #fff;	
}
.bhead{
    width: 90%;
    height:auto;
    font-size: 36px;
    background-color: rgb(128, 128, 128);
    text-align: center;	
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    top: -10px;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Anima Ace';
}
.f1{
    float: left;
    margin-left: 7%;
    width: 25%;
    min-height: 460px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    color: #fff;
    font-family: 'P22 Underground CY Pro';
}
.f2{
    float: left;
    margin-left: 5%;
    width: 25%;
    min-height: 460px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    color: #fff;
    font-family: 'P22 Underground CY Pro';
}
.f3{
    float: left;
    margin-left: 5%;
    width: 25%;
    min-height: 460px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    color: #fff;
    font-family: 'P22 Underground CY Pro';
}
.post1{
    display:block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 310px;
    position: relative;
    top: 15px;
    left: 12px;
}
.post2{
    display:block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 310px;
    position: relative;
    top: 15px;
    left: 12px;
}
.post3{
    display:block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 310px;
    position: relative;
    top: 15px;
    left: 12px;
}
.btext{
    display: block;
    position:relative;
    top: 30px;	
    min-height: 50px;
    font-weight: bold;
    font-size: 19px;
}
.date{
    display: inline;
    width: 20%;
    min-height: 30px;
    font-size: 25px;
    border-top: 15px solid rgba(0, 0, 0, 0.8);
    position: relative;
    top: 69px;
    padding: 5px 56px 5px 57px;
    background-color: rgba(128, 128, 128, 0.5);
    font-weight: bold;
    color: #fff;
    font-family: 'Rotonda Bold';
}
.cont2{
    margin-top: 1%;
    min-height: 630px;
    width: 100%;
}
.mnews{
    width: 49%;
    float: left;	
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 630px;
}
.mnews :last-child{
    border: none;
}
.mtrail{
    float: right;
    width: 49%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #000;
    min-height: 630px;
}
.mtrail :last-child{
    border: none;
}
.footer{
    clear: both;
    margin-top: 1%;
    width: 100%;
    min-height: 50px;
    background-color: rgba(128, 128, 128, 0.9);
    border: 1px solid #000;	
    color: #fff;
    border: 1px solid #000;
}
.nhead{
    width: 96%;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-family: 'Anima Ace';
    padding: 2%;   
}
.nblock{
    display: inline-block;
    width: 90%;	
    margin-top: 2%;
    margin-left: 2.5%;
    padding: 2%;
    border-bottom: 1px solid #000;
}
.nblock a{
    color: #000;
}
.nimg{
    float: left;
    width: 25%;
    background-size: contain;
    min-height: 83px;
    margin-right: 2%;
}
.ntext{
    position: relative;
    top: -15px;
}
.mblock{
    border-bottom: 1px solid #000;
    width: 90%;	
    margin-top: 2%;
    margin-left: 5%;
}
.mblock a{
    color: #000;	
}
.mtitle{
    text-align: center;
    padding: 0;
}
.mvid iframe{
    width: 90%;
    height: 185px;
    margin-left: 5%;
    margin-bottom: 4%;	
}
.pluso{
    float: right;
    position: relative;
    right: 30px;
}
.foottext{
    float: left;	
    line-height: 50px;
    padding-left: 4%;
    font-size: 20px;
    font-weight: bold;
}
.acont{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 1000px;	
    margin-top: 2%;
    border: 1px solid #000;
}
.phead{
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 2%;	
    font-family: 'Anima Ace';
    border: 1px solid #fff;
}
.nlist{
    width: 95%;
    margin-left: 2.5%;
    border-bottom: 1px solid #000;	
}
.nimg1{
    float: left;
    width: 15%;
    background-size: contain;
    min-height: 100px;
    margin-right: 2%;
}
.pfilm{
    width: 95%;
    margin-top: 2%;
    margin-left: 2.5%;
    min-height: 210px;
    border-bottom: 1px solid #000;		
}
.pfilm a{
    color: #000;
}
.ppost{
    float:left;
    width: 17%;
    margin-right: 2%;
    height: 200px;
    background-size: contain;
}
.ptext{
    float:left;
    width: 30%;	
    margin-right: 2%;
}
.prate{
    width: 30%;
    float:left;
    margin-right: 2%;	
}
.pdate{	
    width: 17%;
    float:right;
    font-size: 30px;
    margin-top: 5%;
    font-family: 'Rotonda Bold';
}
.tlist{
    width: 95%;
    margin-top: 2%;
    margin-left: 4%;
}
.trail{
    width: 32%;	
    display: inline-block;
}
.tname{
    font-size: 20px;
    font-family: 'P22 Underground CY Pro';
    margin-bottom: 5%;
    text-align:center;

}
.tvid iframe{
    height: 200px;
    margin-bottom: 2%;	
    width: 100%;
}
.ftitle{
    font-size: 30px;
    padding: 2%;
    margin-left: 4%;	
    font-family: 'P22 Underground CY Pro';
}
.film{
    width: 95%;
    margin-left: 2.5%;
    min-height: 500px;
}
.fpost{
    float: left;
    width: 25%;
    margin-left: 2%;
    min-height: 330px;
    background-size: cover;	
}
.finfo{
    width: 50%;
    float: left;	
    margin-left: 3%;
}
table{
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid #000;
    padding: 10px 40px 10px 40px;
}
.froles{
    width: 17%;
    float: left;
    margin-left: 2%;	
}
.textline{
    width: 98%;
    background-color: #000;
    opacity: 0.9;
    font-size: 30px;
    color: #fff;	
    padding: 1%;
    font-family: 'Anima Ace';
}
.ftext{
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
    text-indent: 30px;	
}
.ftrail iframe{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 400px;	
}
.ntitle{
    padding: 2%;
    font-size: 30px;	
}
.ntext{
    padding: 2%;
    font-size: 16px;	
}
.loginf{
    width: 49%;
    float: left;	
    text-align: center;
    margin-top: 5%;
}
.regf{
    float: right;	
    width: 49%;
    text-align: center;
    margin-top: 5%;
    border-left: 1px solid #000;
    min-height: 430px;
}
.acontlog{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 530px;	
    margin-top: 2%;
    border: 1px solid #000;
    font-family: 'P22 Underground CY Pro';
}
.logregbut{
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border: 3px solid #000;
    border-radius: 10px;	
}
.logregbut:hover{
    background-color: #fff;
    color: #000;	
}
.watchlist{
    width: 10%;
    margin-left: 2%;
    position: absolute;
    top: 5%;
    right: 18%;
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 0;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.watchlist:hover{
    background-color: #DCDCDC;
    color: #000;
}
.delbutton{
    width: 21%;
    margin-left: 21%;
    margin-top: 6%;
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 10px 15px;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    float: left;
    text-align: center;
    font-family: 'P22 Underground CY Pro';
}
.delbutton:hover{
    background-color: #DCDCDC;
    color: #000;
}
.addto{
    position: absolute;
    width: 16%;
    top: 73%;
    left: 18.5%;
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 10px 15px;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    float: left;
    text-align: center;
    font-family: 'P22 Underground CY Pro';
}
.addto:hover{
    background-color: #DCDCDC;
    color: #000;
}
.delout{
    position: absolute;
    width: 16%;
    top: 73%;
    left: 18.5%;
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 10px 15px;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    float: left;
    text-align: center;
    font-family: 'P22 Underground CY Pro';
    display: none;
}
.delout:hover{
    background-color: #DCDCDC;
    color: #000;
}
.opacity{
    width: 100%;
    background-color: #000;
}
.logalert{
    font-family: 'Rotonda Bold';
    position: absolute;
    top: 15%;
    left: 23%;
    color: red;
}
.regalert{
    font-family: 'Rotonda Bold';
    position: absolute;
    top: 15%;
    left: 54.5%;
    color: red;
    display: none;
}
.regalert2{
    font-family: 'Rotonda Bold';
    position: absolute;
    top: 15%;
    left: 61.5%;
    color: red;
}
.par{
    margin: 5%;
}
.nimage{
    background-size: cover;
    width: 80%;
    min-height: 100px;
    margin-left: 2%;
}
.ntext2{
    padding: 2%;
    font-size: 18px;
}
.fcomment{
}
.comment{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 12%;
}
.commenttext{
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
    border-bottom: 1px solid #000;
}
.kp_container {
    position: absolute;
    top: 83%;
    left: 19%;
    display: inline-block;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}
.kp_container a {
    color: #0088CC;
    text-decoration: none;
}
.kp_container a:hover {
    color: #005580;
    text-decoration: underline;
}
.kp_container .kp_stars {
    font-family: Arial,sans-serif;
    font-size: 18px;
    color: #FAA732;
}
.kp_container .kp_description {
    display: inline-block;
    width: 130px;
}
.kp_container .kp_rating {
    display: inline-block;
    width: 30px;
}
.ntext1 a{
    color: #000;
}
.pace.pace-inactive {
    display: none;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background: #000000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
    transform: translateX(100%) translateY(-100%) rotate(45deg);
    pointer-events: none;
}

.pace.pace-active .pace-activity {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.pace .pace-activity::before,
.pace .pace-activity::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.pace .pace-activity::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
    animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

.pace .pace-activity::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
    animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}
.pposts{
    float:left;
    min-height: 200px;
    width: 90%;
}